@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }

    .container1 {
        padding-left: 0px ;
    }

    .promo__logos{
        margin-left:50px;
        position: relative;

    }

    .promo{
        width: 960px;
        height: 500px;
    }

    .promo__img {
        position: absolute;
        width: 240px;
        top: 67px;
        left: 570px;
    }

    .promo__title {
        font-size: 140px;
        margin-bottom: 200px;
    }

    .promo__block1 {
        background-color: #EF8964;
        width: 180px;
        height: 110px;
        border-radius: 15px;
        position: absolute;
        left: 760px;
        top: 20px;
    }

    .promo__block2 {
        width: 206px ;
        height: 96px ;
        display: flex;
        justify-content: space-around;
        background-color: #303030 ;
        border-radius: 15px;
        position: absolute;
        left: 421px ;
        bottom: 250px ;
    }

    .promo__block3 {
        width: 193px;
        height: 98px;
        background-color: #7A29DC;
        border-radius: 15px;
        position: absolute;
        left: 780px;
        bottom: 260px;
    }

    .header__block__title{
        list-style-type: none;
        padding-left: 10px;
    }

    .promo__logos__items{
        padding-left: 50px;
    }

    .promo__logos__title {
        padding-left: 50px;
    }


        /* .programs__title{
            margin-top: 100px;
            font-size: 30px;
        } */
    .programs__title__text{
        font-size: 16px;
        color: #d9d9d9;
        padding-top: 10px;
    }
    .programs__block{
        width: 300px;
        height: 140px;
        background-color: #323443;
        border-radius: 10px;
        margin-right: 30px;
    }
    .programs__block__title{
        padding-left: 9px;
        font-size: 15px;
        padding-top: 0px;
    }
    .programs__block__text{
        font-size: 13px;
        padding-left: 5px;
        color: rgba(239, 237, 232, 0.65)
    }

    .strilka__block {
        margin-left: 15px;
    }

    .blog__img1 {
        width: 460px;
        height: 410px;
    }
    
    .blog__img2 {
      width: 460px;
      height: 410px;
    }
    
    .blog__item__title {
        color: #FAFAF9;
        font-size: 35px;
        margin-left: 10px ;
    }
    
    .blog__item__text {
        font-size: 14px;
        margin-left: 10px ;
        color: rgba(239, 237, 232, 0.65);
    }




    .membership {
        width: 960px;
        height: 787px;
        margin-left: 1px;
        margin-top: 150px;
    }

    .membership__block1{
        width: 400px;
        height: 540px;
        background-color: #232532;
    }

    .membership__block2 {
        width: 400px;
        height: 540px;
        background-color: #323443;
    }

    .membership__block-flex {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
    }

    .stolbtsi {
        margin-left: 10px;
    }

    .membership__block__text {
        padding-left: 15px;
    }


    


}


@media (max-width: 992px){
    .container{
        max-width: 720px;
    }

    .container1 {
        padding-left: 1px ;
    }

    .promo__logos{
        margin-left: 0px;
        position: relative;

    }

    .promo{
        width: 740px;
        height: 400px;
    }

    .promo__img {
        position: absolute;
        width: 230px;
        top: 57px;
        left: 490px;
    }

    .promo__title {
        font-size: 120px;
        margin-bottom: 200px;
    }
    .promo__text {
        font-size: 15px;
    }
    .promo__btn {
        width: 150px ;
        height: 60px ;
    }

    


    .membership__title {
        font-size: 60px ;
    }
    .membership {
        width: 740px;
        height: 787px;
        margin-left: 1px;
        margin-top: 150px;
    }
    .membership__block1{
        width: 338px;
        height: 540px;
        background-color: #232532;
    }
    .membership__block2 {
        width: 338px;
        height: 540px;
        background-color: #323443;
    }

    
    .promo__block1 {
        background-color: #EF8964;
        width: 150px;
        height: 90px;
        border-radius: 15px;
        position: absolute;
        left: -10px;
        top: 300px;
    }
    .promo_mini_block__text {
        font-size: 38px;
        position: absolute;
        
        left: 17px;
    }
    

    .promo__block2 {
        width: 176px ;
        height: 90px ;
        display: flex;
        justify-content: space-around;
        background-color: #303030 ;
        border-radius: 15px;
        position: absolute;
        left: 150px;
        bottom: 213px;
    }
    .promo__block2-text {
        font-size: 22px;
        position: absolute;
        right: 38px;
        bottom: 20px;
    }
    .promo__block2-sub-text {
        color: #9b9b9b;
        position: absolute;
        top: 38px;
        left: 74px;
        font-size: 13px ;
    }
    .promo__block2-img {
        position: absolute;
        top: 25px;
        left: 18px;
    }
    

    .promo__block3 {
        width: 180px;
        height: 90px;
        background-color: #7A29DC;
        border-radius: 15px;
        position: absolute;
        left: 335px;
        bottom: 213px;
    }
    .promo__block3-text {
        font-size: 35px;
        position: absolute;
        left: 30px;
        bottom: 1px;   
    }
    .promo__block3-text-sub {
        color: #9b9b9b ;
        position: absolute;
        left: 30px;
        top: 40px;
        font-size: 15px;
    }


    .promo__logos__title {
        font-size: 20px;
        margin-top: 0;
        padding-top: 50px;
        padding-left: 0px;
    }
    .promo__logos__items {
        padding-left: 0px;
    }


    .programs__title{
        margin-top: 100px;
        font-size: 30px;
    }
    .programs__title__text{
        font-size: 16px;
        color: #d9d9d9;
        padding-top: 10px;
    }
    .programs__block{
        width: 240px;
        height: 140px;
        background-color: #323443;
        border-radius: 10px;
        margin-right: 30px;
    }
    .programs__block__title{
        padding-left: 9px;
        font-size: 15px;
        padding-top: 0px;
    }
    .programs__block__text{
        font-size: 13px;
        padding-left: 5px;
        color: rgba(239, 237, 232, 0.65)
    }
    .programs__flex{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-left: 0px;
    }

    .blog__item1 {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
    .blog__img1 {
        margin-top: 85px  ;
        margin-left: 30px;
        width:  370px   ;
        height: 320px   ;
        
    }
    .blog__img2 {
        margin-right: 30px;
        margin-top: 90px;
        width: 370px;
        height: 320px;
    }
    .blog__item__title {
        color: #FAFAF9;
        font-size: 27px;
    }
    .blog__item__text {
        font-size: 13px;
        color: rgba(239, 237, 232, 0.65);
    }
    .blog__flex-text{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
}


@media (max-width: 768px){
    .container{
        max-width: 540px;
    }


    .promo{
        /* width: 560px;
        height: 300px; */
    }

    .promo__img {
        position: absolute;
        width: 200px;
        top: 57px;
        left: 410px;
    }

    .promo__title {
        font-size: 100px;
        margin-bottom: 130px;
    }

    .promo__text {
        font-size: 13px;
    }



    .promo__block1 {
        background-color: #EF8964;
        width: 150px;
        height: 80px;
        border-radius: 15px;
        position: absolute;
        left: 0px;
        top: 260px;
    }
    .promo_mini_block__text {
        font-size: 35px;
        position: absolute;
        left: 17px;
    }

    


    .promo__block2 {
        width: 180px ;
        height: 80px ;
        display: flex;
        justify-content: space-around;
        background-color: #303030 ;
        border-radius: 15px;
        position: absolute;
        left: 160px;
        bottom: 137px;
    }
    .promo__block2-text {
        font-size: 20px;
        position: absolute;
        right: 54px;
        bottom: 15px;
    }
    .promo__block2-sub-text {
        color: #9b9b9b;
        position: absolute;
        top: 38px;
        left: 74px;
        font-size: 13px ;
    }
    .promo__block2-img {
        position: absolute;
        top: 25px;
        left: 18px;
    }



    .promo__block3 {
        width: 173px;
        height: 80px;
        background-color: #7A29DC;
        border-radius: 15px;
        position: absolute;
        left: 350px;
        bottom: 137px;
    }
    .promo__block3-text {
        font-size: 32px;
        position: absolute;
        left: 20px;
        bottom: 1px;   
    }
    .promo__block3-text-sub {
        color: #9b9b9b ;
        position: absolute;
        left: 20px;
        top: 35px;
        font-size: 14px;
    }

    .promo__logos__title {
        padding-left: 0px;
    }
    .promo__logos__items {
        padding-left: 0px;
    }


    .programs__title{
        margin-top: 100px;
        font-size: 25px;
    }
    .programs__title__text{
        font-size: 14px;
        color: #d9d9d9;
        padding-top: 10px;
    }
    .programs__block{
        margin-top: 30px    ;
        width: 230px;
        height: 170px;
        border-radius: 10px;
    }
    .programs__block__title{
        align-items: center;
        padding-left: 19px;
        font-size: 20px;
        padding-top: 10px;
    }
    .programs__block__text{
        font-size: 16px;
        padding-left: 15px;
    }
    .programs__flex{
        display: flex;
        flex-wrap: wrap;
    }


    .membership {
        width: 560px;
        height: 787px;
        margin-left: 1px;
        margin-top: 150px;
    }
    .membership__title {
        font-size: 40px;
    }

    .membership__block1{
        width: 438px;
        height: 440px;
        background-color: #232532;
        margin: auto;
    }

    .membership__block2 {
        width: 438px;
        height: 440px;
        background-color: #323443;
        margin: auto;
    }

    .membership__block-flex {
        display: block;
        padding-top: 30px;
    }

    .stolbtsi {
        font-size: 17px;
        margin-left: 50px;
    }

    .membership__block__text {
        padding-left: 15px;
        font-size: 17px;
        margin-left: 30px;
    }

    .membership__block__title {
        font-size: 35px;
        text-align: center;
        padding-top: 0px;
    }
    
    .membership__block__title2 {
    
    }


    .blog__img1 {
        width: 270px;
        height: 260px;
    }
    
    .blog__img2 {
      width: 270px;
      height: 260px;
    }
    
    .blog__item__title {
        color: #FAFAF9;
        font-size: 18px;
        margin-left: 10px ;
    }
    
    .blog__item__text {
        font-size: 12px;
        margin-left: 10px ;
        color: rgba(239, 237, 232, 0.65);
    }

    .strilka__block {
        font-size: 12px;
    }

    .header__block__title{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding-left: 10px;
    }
        
    .nav__list__item{
        list-style-type: none;
        font-size: 11px;
        padding: 0 5px 0 5px;
            
    }

    
    .end__btn{
        
    }
}

@media (max-width: 576px){
    .container{
        max-width: 360px;
    }

    .promo__logos__items{
        padding-left: 100px;
    }

    .promo__logos__title {
        padding-left: 100px;
    }



    .programs__title{
        margin-top: 100px;
        font-size: 25px;
    }
    .programs__title__text{
        font-size: 14px;
        color: #d9d9d9;
        padding-top: 10px;
    }
    .programs__block{
        margin-top: 30px    ;
        width: 130px;
        height: 170px;
        border-radius: 10px;
    }
    .programs__block__title{
        align-items: center;
        padding-left: 19px;
        font-size: 20px;
        padding-top: 10px;
    }
    .programs__block__text{
        font-size: 16px;
        padding-left: 15px;
    }
    .programs__flex{
        display: flex;
        flex-wrap: wrap;
    }

    .promo__logos__items{
        padding-left: 0px;
    }

    .promo__logos__title {
        padding-left: 0px;
    }




    .promo__img {
        position: absolute;
        width: 140px;
        top: 50px;
        left: 300px;
    }

    .promo__title {
        font-size: 70px;
        margin-bottom: 130px;
    }

    .promo__text {
        font-size: 13px;
    }



    .promo__block1 {
        background-color: #EF8964;
        width: 130px;
        height: 75px;
        border-radius: 15px;
        position: absolute;
        left: 0px;
        top: 260px;
    }
    .promo_mini_block__text {
        font-size: 29px;
        position: absolute;
        left: 17px;
        top: 11px;
    }
    .promo__block1-sub-img {
        width: 14px;
    }
    .promo__block1-img {
        width: 18px;
        height: 18px;

    }
    


    .promo__block2 {
        width: 180px ;
        height: 80px ;
        display: flex;
        justify-content: space-around;
        background-color: #303030 ;
        border-radius: 15px;
        position: absolute;
        left: 160px;
        bottom: 137px;
    }
    .promo__block2-text {
        font-size: 20px;
        position: absolute;
        right: 54px;
        bottom: 15px;
    }
    .promo__block2-sub-text {
        color: #9b9b9b;
        position: absolute;
        top: 38px;
        left: 74px;
        font-size: 13px ;
    }
    .promo__block2-img {
        position: absolute;
        top: 25px;
        left: 18px;
    }



    .promo__block3 {
        width: 173px;
        height: 80px;
        background-color: #7A29DC;
        border-radius: 15px;
        position: absolute;
        left: 350px;
        bottom: 137px;
    }
    .promo__block3-text {
        font-size: 32px;
        position: absolute;
        left: 20px;
        bottom: 1px;   
    }
    .promo__block3-text-sub {
        color: #9b9b9b ;
        position: absolute;
        left: 20px;
        top: 35px;
        font-size: 14px;
    }





}